.vs/
Droid/bin/
Droid/obj/
IOS/bin/
IOS/obj/
MasterDetailPageNavigation/bin/
MasterDetailPageNavigation/obj/
MasterDetailPageNavigation.WinPhone81/obj/
MasterDetailPageNavigation.WinPhone81/bin/
XMock/obj/
XMock/bin/
XMock.Test/obj/
XMock.Test/bin/
Screenshots/
*.htm