.vs/
Droid/bin/
Droid/obj/
IOS/bin/
IOS/obj/
MasterDetailPageNavigation/bin/
MasterDetailPageNavigation/obj/
MasterDetailPageNavigation.WinPhone81/obj/
MasterDetailPageNavigation.WinPhone81/bin/
XMock/obj/
XMock/bin/
XMock.Test/obj/
XMock.Test/bin/
Common.Enum/obj/
Common.Enum/bin/
Droid/bin/Release/
Droid/obj/Release/
IOS/bin/Release/
IOS/obj/Release/
MasterDetailPageNavigation/bin/Release/
MasterDetailPageNavigation/obj/Release/
MasterDetailPageNavigation.WinPhone81/obj/Release/
MasterDetailPageNavigation.WinPhone81/bin/Release/
XMock/obj/Release/
XMock/bin/Release/
XMock.Test/obj/Release/
XMock.Test/bin/Release/
Common.Enum/obj/Release/
Common.Enum/bin/Release/
Screenshots/
*.htm